:root{
    --primario: #9c27b0;
    --primarioOscuro: #89119d;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233 187 2);
    --blanco: #fff;
    --negro: #000;
    --fuentePricipal: 'Staatliches', cursive;
}
html{
    font-size: 62.5%;/* Tamaño general de px a rem */
    box-sizing: border-box;/* box-sizing border-box */
}
*,*::before, *::after{
    box-sizing: inherit;
}
/* Globales ***************************************** */
body{
    background-color: var(--primario);/* color de fondo de la pagina */
    font-size: 1.6rem;/* Tamaño del texto 16px */
    line-height: 1.5;/* Color de la letra */
}
p{
    font-size: 1.8rem;/* Tamaño de la letra */
    font-family: Arial, Helvetica, sans-serif;/* Tipo de letra */
    color: var(--blanco);/* Color de la letra */
}
a{
    text-decoration: none;/* Quitar decoracion de enlace */

}
img{
    max-width: 100%;/* Ancho de la imagen */
}
.contenedor{
    max-width: 120rem;/* 1200px máximo de ancho */
    margin: 0 auto;
}
h1,h2,h3{
    text-align: center;/* para centrar texto */
    color: var(--secundario);/* color texto */
    font-family: var(--fuentePricipal);/* tipo de letra */
}
h1{
    font-size: 4rem;/* Tamaño de la letra */
}
h2{
    font-size: 3.2rem;/* Tamaño de la letra */
}
h3{
    font-size: 2.4rem;/* Tamaño de la letra */
}
/* Header ************************************** */
.header{
   display: flex;/* Ubicacion de los elementos */
   justify-content: center;/* Centrar elementos */
}
.header__logo{
   margin: 3rem 0;/* Margen del elemento */
}
/* Navegacion ************************************* */
.navegacion{
   background-color: var(--primarioOscuro);/* Color de fondo */
   padding: 1rem 0;/* Relleno del elemento */
   display: flex;/* Disposicion del elemento */
   justify-content: center;/* Tipo de orden */
   gap: 2rem;/* Espacio entre los elementos */
}
.navegacion__enlace{
    font-family: var(--fuentePricipal);/* Tipo de letra */
    color: var(--blanco);/* Color de la letra */
    font-size: 3rem;/* Tamaño de la letra */
}
.navegacion__enlace--activo,
.navegacion__enlace:hover{
   color: var(--secundario);/* Color resaltado en la pagina usada */
}
/* Productos ****************** */
@media(min-width:0px){/* Telefono */
    .grid{
        display: grid;/* Orden de los elementos */
        grid-template-columns: 1fr;
        gap: 2rem;/* Espacio entre columnas */
    }
}
@media (min-width: 480px){/* Tablet */
  .grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);/* Número de columnas */
  }
}
@media (min-width: 768px){/* Computadora */
    .grid{
     grid-template-columns: repeat(3,1fr);/* Número de columnas */
    }
}
.producto{
   background-color: var(--primarioOscuro);/* color de fondo */
   padding: 1rem;/* Relleno del contenido */
}
.producto__imagen{
   width: 100%;
}
.producto__nombre{
   font-size: 2.8rem;/* Tamaño del texto */
}
.producto__precio{
   font-size: 2.8rem;/* Tamaño del texto */
   color: var(--secundario);/* Color de la letra */
}
.producto__nombre,
.producto__precio{
    font-family: var(--fuentePricipal);/* Tipo de letra */
    margin: 1rem 0;/* Margen del contenido */
    text-align: center;/* Alineacion del texto */
    line-height: 1.2;/* Interlineado del texto */
}
/* Graficos ************************************** */
.grafico{
    min-height: 30rem;/* Altura minima */
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 0px){/* Telefono */
    .grafico__camisas{
     grid-row: 2/3;/* Linea vertical 2 al 3 */
     background-image: url(../img/grafico1.png);/* Primera imagen */
    }
    .grafico__camisas2{
     grid-row: 8/9;/* Linea vertical 8 al 9 */
     background-image: url(../img/grafico2.png);/* Segunda imagen */
    }
}
@media (min-width: 480px){/* Tablet */
    .grafico__camisas{
      grid-row: 2/3;;/* Linea vertical 2 al 3 */
      grid-column: 1/3;/* Linea horizontal 1 al 3 */  
    }
    .grafico__camisas2{
        grid-row: 8/9;/* Linea vertical 8 al 9 */
        grid-column: 1/3;/* Linea horizontal 1 al 3 */  
    }
}
@media (min-width: 768px){/* Computadora */
    .grafico__camisas2{
        grid-row: 5/6;/* Linea vertical 5 al 6 */
        grid-column: 2/4;/* Linea horizontal 2 al 4 */
    }
}
/* Footer **************************************** */
.footer{
  background-color: var(--primarioOscuro);/* Color de fondo */
  padding: 1rem 0;/* Relleno del contenido */
  margin-top: 2rem;/* Margen superior */
}
.footer__texto{
   font-family: var(--fuentePricipal);/* Tipo de letra */
   text-align: center;/* Alineacion del texto */
   font-size: 2.2rem;/* Tamaño de la letra */
}
/* Nosotros ******************** */
.nosotros{
display: grid;/*distribucion de los elementos*/
grid-template-rows: repeat(2,auto);/*numero de filas*/
}
@media(min-width:768px){
  .nosotros{
grid-template-columns: repeat(2,1fr);
column-gap: 2rem ;
}
}
.nosotros__imagen{
 grid-row: 1/2; 
 width: 100%;
}

@media(min-width:768px){
    .nosotros__imagen{
    grid-column: 2/3;
    }
  }
/*Boques******************************************************************************/
.bloques{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
/*pafina del producto*******************************************************************/
@media(min-width:768px){
    .camisa{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}
.formulario{
display: grid;/*distribucion de los elementos*/
grid-template-columns: 50% 50%;/*dos columnas*/
gap: 2rem;/*espacio entre columnas*/
}
.formulario__campo{
    border: 1rem solid var(--primarioOscuro);/*linea dque rodea el contenido*/
    background-color: transparent;/*color del fondo*/
    font-size: 2rem;/*tamano del texto*/
    font-family: Arial, Helvetica, sans-serif;/*tipo de letra*/
    padding: 1rem;/*relleno del contenido*/
    appearance: none;/*quita la flecha de la seleccion*/
}
.formulario__submit{
background-color: var(--secundarioOscuro);/*color de fondo*/
border: none;/*quitar fondo*/
font-size: 2rem;/*tamaño de letra*/
font-family: var(--fuentePricipal);/*tipo de letra*/
padding: 3rem;/*relleno del contenido*/
transition: backgroud-color .3s ease;/*tipo de efecto hover*/
grid-column: 1/3;/*espacio qu abarca el botón*/
}
.formulario__submit:hover{
cursor: pointer;/*imagen de mano en el curso*/
background-color: var(--secundarioOscuro);/*color de fondo*/
}
